# Ignore editor backup files and macOS system metadata
*.DS_Store
.*.swp
.*.swo
*~

# Ignore build folder
/build

# Ignore files built by Visual Studio
.vscode/

# Ignore files built by Platformio

.pio

# Ignore docs build (Sphinx)
docs/build
docs/source/_build
__pycache__/
_build/

# Ignore files built by ESP-IDF
components/
managed_components/
sdkconfig.old
dependencies.lock